<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>My Awesome App</title>
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />
    <link rel='stylesheet' href='css/all.min.css' />

  </head>
  <body>
    <div class='button-container'>

      <button class='button' id='previous'><i
          class='icon fas fa-chevron-left'
        ></i>Previous</button>

      <button class='button' id='next'>Next
        <i class='icon fas fa-chevron-right'></i></button>
    </div>
    <script src='script.js'></script>
    <link rel='stylesheet' href='style.css' />
  </body>
</html>