<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>My Awesome App</title>
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />
    <link rel='stylesheet' href='last.css' />
  </head>
  <body>

    <div class='container'>

      <div class='one' id='next'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='ionicon'
          viewBox='0 0 512 512'
        ><path
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='48'
            d='M112 328l144-144 144 144'
          /></svg>
      </div>
      <div class='two' id='previous'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='ionicon'
          viewBox='0 0 512 512'
        ><path
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='48'
            d='M112 184l144 144 144-144'
          /></svg>
      </div>

    </div>
    <script src='script.js'></script>
  </body>
</html>